.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0083ab;
    padding-right: 0%;
    width: 40%;
    margin: 0 auto;
    font-weight: bolder;
}