.Home {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, #ffffff, #00404b);
    padding-right: 0%;
    width: 45%;
    margin: 0 auto;
    font-weight: bolder;
    font-family: "Lucida Handwriting", cursive;
    font-size: xx-large;
}
.Home h4{
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}